:root {
    --background-color-gray:  rgba(0, 0, 0, 0.5);
}

.list-icons i {
    font-size: 5vh;
}

.carousel-item img {
    filter: brightness(70%);
}



footer {
    margin-top: 3vh;
    background-color: var(--background-color-gray);
}


@media (max-width: 768px) {
    .carousel-caption h2 {
        font-size: 14px;
    }
    .carousel-caption p {
        display: none;
    }

    .carousel-caption img {
        width: 100px;
    }
}