:root {
    --background-color-gray:  rgba(0, 0, 0, 0.5);
}

.list-icons i {
    font-size: 5vh;
}

.carousel-item img {
    filter: brightness(70%);
}

.image-tile {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.image-tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.image-tile img:hover {
    filter: brightness(120%);
}

.image-caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}

footer {
    margin-top: 3vh;
    background-color: var(--background-color-gray);
}


@media (max-width: 768px) {
    .carousel-caption h2 {
        font-size: 14px;
    }
    .carousel-caption p {
        display: none;
    }

    .carousel-caption img {
        width: 100px;
    }
}